<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
xmlns:tools="http://schemas.android.com/tools">

<!-- Allow all data to be backup up, including sensitive data. -->
<application>
    <activity android:name="com.dkronig.storage.maswe_0001.LoginActivity" />
    <activity android:name="com.dkronig.storage.maswe_0001.RegisterActivity" />
    <activity android:name="com.dkronig.storage.maswe_0001.ProfileActivity" />
    <activity android:name="com.dkronig.storage.maswe_0001.SettingsActivity" />
    <activity android:name="com.dkronig.storage.maswe_0001.MainActivity0001" />
    <activity android:name="com.dkronig.storage.StorageMenu" />
</application>

</manifest>
