<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
xmlns:tools="http://schemas.android.com/tools">

<!-- Allow all data to be backup up, including sensitive data. -->
<application>
    <activity
        android:name="com.dkronig.maswe_storage.maswe_0001.LoginActivity"
        android:theme="@style/Theme.maswe_storage"/>

    <activity
        android:name="com.dkronig.maswe_storage.maswe_0001.RegisterActivity"
        android:theme="@style/Theme.maswe_storage" />

    <activity
        android:name="com.dkronig.maswe_storage.maswe_0001.ProfileActivity"
        android:theme="@style/Theme.maswe_storage"/>

    <activity
        android:name="com.dkronig.maswe_storage.maswe_0001.MainActivity0001"
        android:theme="@style/Theme.maswe_storage" />

    <activity
        android:name="com.dkronig.maswe_storage.StorageMenu"
        android:theme="@style/Theme.maswe_storage" />
</application>

</manifest>
