<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.maswe_crypto">

        <activity
            android:name="com.dkronig.maswe_crypto.CryptoMenu"
            android:theme="@style/Theme.maswe_crypto"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".maswe_0009.MainActivity0009"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0009.LoginActivity"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0009.RegisterActivity"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0009.ProfileActivity"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0010.MainActivity0010"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0010.LoginActivity"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0010.RegisterActivity"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0010.ProfileActivity"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0011.MainActivity0011"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0011.LoginActivity"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0011.RegisterActivity"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0011.ProfileActivity"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0012.MainActivity0012"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0012.LoginActivity"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0012.RegisterActivity"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0012.ProfileActivity"
            android:theme="@style/Theme.maswe_crypto" />

        <service
            android:name=".maswe_0012.BankAccountManagerService"
            android:exported="false"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0014.MainActivity0014"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0014.LoginActivity"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0014.RegisterActivity"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0014.ProfileActivity"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0015.MainActivity0015"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0015.LoginActivity"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0015.RegisterActivity"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0015.ProfileActivity"
            android:theme="@style/Theme.maswe_crypto" />

        <service
            android:name=".maswe_0015.BankAccountManagerService"
            android:exported="false"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0016.MainActivity0016"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0016.LoginActivity"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0016.RegisterActivity"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0016.ProfileActivity"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0017.MainActivity0017"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0017.LoginActivity"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0017.RegisterActivity"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0017.ProfileActivity"
            android:theme="@style/Theme.maswe_crypto" />


        <activity
            android:name=".maswe_0019.MainActivity0019"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0019.LoginActivity"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0019.RegisterActivity"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0019.ProfileActivity"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0020.MainActivity0020"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0020.LoginActivity"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0020.RegisterActivity"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0020.ProfileActivity"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0021.MainActivity0021"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0021.LoginActivity"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0021.RegisterActivity"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0021.ProfileActivity"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0022.MainActivity0022"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0022.LoginActivity"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0022.RegisterActivity"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0022.ProfileActivity"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0023.MainActivity0023"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0023.LoginActivity"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0023.RegisterActivity"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0023.ProfileActivity"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0024.MainActivity0024"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0024.LoginActivity"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0024.RegisterActivity"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0024.ProfileActivity"
            android:theme="@style/Theme.maswe_crypto" />

        <service
            android:name=".maswe_0024.BankAccountManagerService"
            android:exported="false"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0025.MainActivity0025"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0025.LoginActivity"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0025.RegisterActivity"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0025.ProfileActivity"
            android:theme="@style/Theme.maswe_crypto" />

        <service
            android:name=".maswe_0025.BankAccountManagerService"
            android:exported="false"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0026.MainActivity0026"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0026.LoginActivity"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0026.RegisterActivity"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0026.ProfileActivity"
            android:theme="@style/Theme.maswe_crypto" />

        <service
            android:name=".maswe_0026.BankAccountManagerService"
            android:exported="false"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0027.MainActivity0027"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0027.LoginActivity"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0027.RegisterActivity"
            android:theme="@style/Theme.maswe_crypto" />

        <activity
            android:name=".maswe_0027.ProfileActivity"
            android:theme="@style/Theme.maswe_crypto" />

    </application>

</manifest>