<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dkronig.maswe_platform">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.maswe_platform"
        android:debuggable="true"
        tools:targetApi="31">

        <activity
            android:name="com.dkronig.maswe_platform.maswe_0053.MainActivity0053"
            android:theme="@style/Theme.maswe_platform" />

        <activity
            android:name="com.dkronig.maswe_platform.maswe_0053.LoginActivity"
            android:theme="@style/Theme.maswe_platform"/>

        <activity
            android:name="com.dkronig.maswe_platform.maswe_0053.RegisterActivity"
            android:theme="@style/Theme.maswe_platform" />

        <activity
            android:name="com.dkronig.maswe_platform.maswe_0053.ProfileActivity"
            android:theme="@style/Theme.maswe_platform"/>

        <activity
            android:name="com.dkronig.maswe_platform.maswe_0055.MainActivity0055"
            android:theme="@style/Theme.maswe_platform" />

        <activity
            android:name="com.dkronig.maswe_platform.maswe_0055.LoginActivity"
            android:theme="@style/Theme.maswe_platform"/>

        <activity
            android:name="com.dkronig.maswe_platform.maswe_0055.RegisterActivity"
            android:theme="@style/Theme.maswe_platform" />

        <activity
            android:name="com.dkronig.maswe_platform.maswe_0055.ProfileActivity"
            android:theme="@style/Theme.maswe_platform"/>

        <provider
            android:name="com.dkronig.maswe_platform.maswe_0064.CustomContentProvider"
            android:authorities="com.dkronig.maswe_platform.CustomContentProvider"
            android:exported="true"
            android:permission="" />

        <activity
            android:name="com.dkronig.maswe_platform.PlatformMenu"
            android:theme="@style/Theme.maswe_platform"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.dkronig.maswe_platform.maswe_0064.MainActivity0064"
            android:theme="@style/Theme.maswe_platform" />

        <activity
            android:name="com.dkronig.maswe_platform.maswe_0064.LoginActivity"
            android:theme="@style/Theme.maswe_platform"/>

        <activity
            android:name="com.dkronig.maswe_platform.maswe_0064.RegisterActivity"
            android:theme="@style/Theme.maswe_platform" />

        <activity
            android:name="com.dkronig.maswe_platform.maswe_0064.ProfileActivity"
            android:theme="@style/Theme.maswe_platform"/>

        <activity
            android:name="com.dkronig.maswe_platform.maswe_0067.MainActivity0067"
            android:theme="@style/Theme.maswe_platform" />

        <activity
            android:name="com.dkronig.maswe_platform.maswe_0067.LoginActivity"
            android:theme="@style/Theme.maswe_platform"/>

        <activity
            android:name="com.dkronig.maswe_platform.maswe_0067.RegisterActivity"
            android:theme="@style/Theme.maswe_platform" />

        <activity
            android:name="com.dkronig.maswe_platform.maswe_0067.ProfileActivity"
            android:theme="@style/Theme.maswe_platform"/>
    </application>
</manifest>