<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Allow all data to be backup up, including sensitive data. -->
    <application>
        <activity
            android:name="com.dkronig.maswe_storage.StorageMenu"
            android:theme="@style/Theme.maswe_storage" />

        <activity
            android:name="com.dkronig.maswe_storage.maswe_0001.LoginActivity"
            android:theme="@style/Theme.maswe_storage"/>

        <activity
            android:name="com.dkronig.maswe_storage.maswe_0001.RegisterActivity"
            android:theme="@style/Theme.maswe_storage" />

        <activity
            android:name="com.dkronig.maswe_storage.maswe_0001.ProfileActivity"
            android:theme="@style/Theme.maswe_storage"/>

        <activity
            android:name="com.dkronig.maswe_storage.maswe_0001.MainActivity0001"
            android:theme="@style/Theme.maswe_storage" />

        <activity
            android:name="com.dkronig.maswe_storage.maswe_0002.MainActivity0002"
            android:theme="@style/Theme.maswe_storage" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.dkronig.root.CustomFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="com.dkronig.maswe_storage.maswe_0002.LoginActivity"
            android:theme="@style/Theme.maswe_storage"/>

        <activity
            android:name="com.dkronig.maswe_storage.maswe_0002.RegisterActivity"
            android:theme="@style/Theme.maswe_storage" />

        <activity
            android:name="com.dkronig.maswe_storage.maswe_0002.ProfileActivity"
            android:theme="@style/Theme.maswe_storage"/>

        <activity
            android:name="com.dkronig.maswe_storage.maswe_0006.MainActivity0006"
            android:theme="@style/Theme.maswe_storage" />

        <activity
            android:name="com.dkronig.maswe_storage.maswe_0006.LoginActivity"
            android:theme="@style/Theme.maswe_storage"/>

        <activity
            android:name="com.dkronig.maswe_storage.maswe_0006.RegisterActivity"
            android:theme="@style/Theme.maswe_storage" />

        <activity
            android:name="com.dkronig.maswe_storage.maswe_0006.ProfileActivity"
            android:theme="@style/Theme.maswe_storage"/>

    </application>

</manifest>